

.cont1{
    text-align: justify;
    font-size: 100%;
}
.quien{
    text-align: center;
}
.img-quien{
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
  
}
.d-block  {
    height:25vh;
    background-size:cover;
    background-position:center;
}



.display-4{
    font-weight: normal;
    font-size: 80px;
    color: #FFFAF3;
}
.fab{
    background: url("../img/a2.jpeg");
}

.text-center {
    background-color: rgba(0, 0, 0, 0.2);
}

.refe {
    color : #AA3939;
    text-decoration: none;
}

.bg-dark {
    background-color: #fff;
}
.navbar-nav{
    font-size: 20px;
}

.nav-item:hover {
    border-radius: 20px;
    background-color: #8E8888;
}


.periodo{
    padding-left: 2%;
    color: #8E8888;
    
}

.titulos{
    text-align: center;
}

li
{
   padding-bottom: 10px; 
}
.cursoI{
    padding-bottom: 4px;
}

.tituloP{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 30px;
}

.lead {
    text-align: justify;
}

.col-md-5{
    padding-left: 75px;
    padding-right: 75px;
}